@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,500&display=swap');

body {
    font-family: 'EB Garamond', serif;
}

header {
    margin: 0;
}

.logo {
    background: url('../images/daisy.lindsay-gunn.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
}