@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,500&family=Ephesis&family=Roboto:wght@500;900&display=swap');

/* Colours  */
.bg-color-name-title {
    background-color: #074F57;
}

/* General styling */

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    margin: 0;
}

.general-sub {
    color: whitesmoke;
    padding-top: 10px;
    font-family: 'Ephesis', cursive;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

.inline-block {
    display: inline-block;
}

/* Headings */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
    
}

#name {
    color: whitesmoke;
    font-weight: 700;
    margin-top: 50px;
    font-size: 60px;
    font-family: 'Ephesis', cursive;
}

#title {
    color: whitesmoke;
    font-weight: 500;
    margin: 20px 0 60px 0;
    font-size: 26px;
}

.logo {
    background: url('../images/daisy.lindsay-gunn.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    transition: all .5s ease-in-out;
    padding-right: 0;
}

/* Navbar */

#navbar {
    background-color: #FF6B6B;
    margin: 0;
}

.nav-container {
    font-size: 0;
}

.ui-menu-color {
    background-color: #FF6B6B;
}

.ui-menu-color:active {
    background-color: #5CA4A9;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

#navbar li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 100px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    color: whitesmoke;
    list-style: none;
    height: 100px;
}


.menuitem a i {
    display: block;
    font-size: 26px;
    padding-top: 15px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    font-size: 14px;
}

/* Footer */

footer {
    background-color:  #074F57;
    min-height: 100px;
    color:whitesmoke;
    padding: 5px 20px 20px 20px;
}

.cv-pdf i {
    color:whitesmoke;
    font-size: 20px;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #5CA4A9;
}
.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    color:whitesmoke;
    font-size: 20px;
    text-align: center;
    padding: 12px 0;
    width: 32px;
    height: 32px;
    line-height: 7px;
    background: #8f8f8f;
    border-radius: 50%;
    transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #5CA4A9;
}